/*
* Juan Carlos Duran.
* June 20, 2016
* qheolet@gmail.com
*/


body{
    color: #333;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 100;
}

button{
    background-color: cornflowerblue;
    padding: 5px 10px;
    color: white;
    border: 0px;
}

button :hover{
    background-color: lightblue;
}

.header{
    max-width: 600px;
    margin: 0 auto;
    padding: 3px 10px;
    color: cornflowerblue;
    position: relative;

}

.t-entry {
    margin: 5px 0 10px;
      display: flex;
      display: -webkit-flex;
}


.t-entry input {
    /*width: 80%;*/
    /*display: inline-block;*/
    margin-right: 3px;
    padding: 2px 10px;
    font-size: 14px;
    border:1px solid #333;
    color: #999;
-webkit-flex-grow: 3;
flex-grow: 1;
}

.t-entry button{
    margin:0px;
     -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.container{
    max-width: 600px;
    margin: 0px auto 30px auto;
    padding: 10px;
    border: 1px solid lightgray;
}

.console{
   height: 100px;
   overflow-x: hidden;
   overflow-y: auto;
   position: relative;
}

.t-list-of-input{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.t-list-of-input li{
    background-color: #efefef;
    /*border: 1px solid gray;
    */
    margin: 0 0 5px 0;
    padding: 5px;
    display: flex;
}

.t-list-of-input li .t-text{
    flex-grow:  8;*/
}


.t-list-of-input li .t-erase-me{
    flex-shrink: 1;
}

.log-item{
    padding: 5px;
    background-color: #ddd;
    margin: 0 0 3px 0;
   text-transform: lowercase;
   color:blue;
    font-size: 12px;
}

.clear-me{
    position: absolute;
    bottom:5px;
    right: 5px;
    font-size: 10px;
    padding: 2px 6px;
    background-color: red;
    border-radius: 8px;
    color:white;
}